.nav {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  position: fixed;
  z-index: 100;
  background-color: #2e7f42;
}
.miniContainer {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.miniContainer .navHeader {
  color: white;
  font-size: 18px;
}

.miniContainer .linkContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 339px;

  height: 19px;
}
.nav .linkContainer a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../../public/bannerenv.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.left {
  width: 70%;
}
.banner .left {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner .left .miniHeader {
  font-size: 14px;
  font-weight: 500;
  color: black;
  opacity: 60%;
}

.banner .left .header {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner .left .subheader {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.banner .left .buttonContainer button {
  height: 69px;
  width: 221px;
  font-size: 20px;
  color: white;
  background-color: #2e7f42;
  border: none;
}
.banner .right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: linear-gradient(
      rgba(230, 249, 238, 0.3),
      rgba(230, 249, 238, 0.3),
      rgba(230, 249, 238, 0.3)
    ),
    url("https://static.wixstatic.com/media/11062b_cbc1493bfd2c427aab945fcb2672f8ff~mv2.jpg/v1/fill/w_1899,h_539,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_cbc1493bfd2c427aab945fcb2672f8ff~mv2.jpg");
  background-size: cover;
  background-position: center;
}
.banner .right .onlyBackground {
  background-color: #e7f8ee;
  height: 70%;
  width: 100%;
  z-index: -100;
}

/* tablet and small */

@media screen and (max-width: 1000px) {
  .nav {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    position: fixed;
    z-index: 100;
    background-color: #2e7f42;
  }
  .miniContainer {
    width: 90%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }
  .miniContainer .navHeader {
    color: white;
    font-size: 15px;
  }

  .miniContainer .linkContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;

    height: 19px;
  }
  .nav .linkContainer a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
  }

  /*banner*/

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../../public/bannerenv.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .left {
    width: 100%;
  }
  .banner .left {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .banner .left .miniHeader {
    font-size: 10px;
    font-weight: 500;
    color: black;
    opacity: 60%;
  }

  .banner .left .header {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .banner .left .subheader {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  .banner .left .buttonContainer button {
    height: 49px;
    width: 151px;
    font-size: 15px;
    color: white;
    background-color: #2e7f42;
    border: none;
  }
  .banner .right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: linear-gradient(
        rgba(230, 249, 238, 0.3),
        rgba(230, 249, 238, 0.3),
        rgba(230, 249, 238, 0.3)
      ),
      url("https://static.wixstatic.com/media/11062b_cbc1493bfd2c427aab945fcb2672f8ff~mv2.jpg/v1/fill/w_1899,h_539,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_cbc1493bfd2c427aab945fcb2672f8ff~mv2.jpg");
    background-size: cover;
    background-position: center;
  }
  .banner .right .onlyBackground {
    background-color: #e7f8ee;
    height: 70%;
    width: 100%;
    z-index: -100;
  }
}

/*mobile */

@media screen and (max-width: 600px) {
  .nav {
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    position: fixed;
    z-index: 100;
    background-color: #2e7f42;
  }
  .miniContainer {
    width: 90%;
    display: flex;
    padding: 15px;
    justify-content: space-between;
  }
  .miniContainer .navHeader {
    color: white;
    font-size: 12px;
  }

  .miniContainer .linkContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 200px;

    height: 19px;
  }
  .nav .linkContainer a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
  }
}
